[submodule "environments/CartPoleSimulation"]
	path = environments/CartPoleSimulation
	url = https://github.com/SensorsINI/CartPoleSimulation.git
[submodule "environments/physical-cartpole"]
	path = environments/physical-cartpole
	url = https://github.com/SensorsINI/physical-cartpole.git
